<template>
<div>
  <div class="realtime-chart-model">
    <div class="wrapper-header">
      <div class="wrapper-title">实时路由表</div>
    </div>
    <div class="wrapper-content">
      <el-button type="primary" @click="addLine">新增</el-button>
      <el-button type="primary" @click="submit">提交</el-button>
      <el-button type="primary" @click="save">保存</el-button>
      <el-table :data="list" @selection-change="handleCheck">
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column label="序号" prop="number">
          <template v-slot="scope">
            <el-input v-model="scope.row.number" placeholder="number"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="路径" prop="path">
          <template v-slot="scope">
            <el-input v-model="scope.row.path" placeholder="path"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="端口号" prop="port">
          <template v-slot="scope">
            <el-input v-model="scope.row.port" placeholder="port"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="链路数" prop="links">
          <template v-slot="scope">
            <el-input v-model="scope.row.links" placeholder="links"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="带宽" prop="ratio">
          <template v-slot="scope">
            <el-input v-model="scope.row.ratio" placeholder="ratio"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template v-slot="scope">
            <!-- 点击编辑进入编辑页面进行编辑表格数据 -->
            <el-button size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="page">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 20]"
                :page-size="pagesize"
                style="float:right"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
      </div>

      <el-dialog title="业务信息"  v-model="dialogFormVisible">
        <!-- 在el-dialog中进行嵌套el-form实现弹出表格的效果 -->
        <el-form :model="form">
          <el-form-item label="序号" :label-width="formLabelWidth">
            <el-input v-model="form.number" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="路径" :label-width="formLabelWidth">
            <el-input v-model="form.path" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="端口" :label-width="formLabelWidth">
            <el-input v-model="form.port" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="链路数" :label-width="formLabelWidth">
            <el-input v-model="form.links" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="带宽" :label-width="formLabelWidth">
            <el-input v-model="form.ratio" auto-complete="off"></el-input>
          </el-form-item>
        </el-form>
        <el-button type="primary" @click="update">确定</el-button>
        <el-button type="primary" @click="cancel">取消</el-button>
      </el-dialog>
    </div>


  </div>
  <realTimeChartDialog :isShow="showDialog" :selectData="selectData" @callback="closeDialog"/>
</div>
</template>

<script>
import realTimeChartDialog from '@/components/dialog/realtimeChartDialog'
export default {
  name: 'realTimeChart',
  components: {
    realTimeChartDialog
  },
  props: {},
  data() {
    return {
      total: 0,
      pagesize: 5,
      list: [],
      selectData: [],
      showDialog: false,
      mydata: [],
      dialogFormVisible: false,
      formLabelWidth: "80px",
      // 设置form用于进行添加的时候绑定值
      form: {},
      value6: "",
      currentPage: 1,
      maxPage: "",
      currentIndex: ""
    }
  },
  computed: {},
  watch: {
    total() {
      if (this.total === (this.currentPage - 1) * this.pagesize && this.total !== 0) {
        this.currentPage -= 1;
        this.changelist()
      }
    }
  },
  async created() {
    await this.getdata()
    this.handleCurrentChange(1)
  },
  methods: {
    //获取表格数据
    async getdata() {
      await this.$http.get('/data/routingtable.json')
              .then(res => {
                this.mydata = res.data.routingtable
                this.total = res.data.routingtable.length
              })
    },
    //更改列表
    changelist() {
      var x = (this.currentPage - 1) * this.pagesize
      var y = this.currentPage * this.pagesize
      console.log(x, y)
      this.list = this.mydata.slice(x, y)
    },
    //处理表格每页展示尺寸改变
    handleSizeChange(val) {
      this.pagesize = val
      this.maxPage = this.total / this.pagesize+1
      console.log(`每页 ${val} 条`);
      this.changelist()
    },
    //处理表格页面切换
    handleCurrentChange(val) {
      this.currentPage = val
      console.log(`当前页: ${val}`);
      this.changelist()
    },
    //处理选中
    handleCheck(data) {
      this.selectData = data
    },
    //处理提交
    submit() {
      if (this.selectData.length === 0) {
        this.$message.warning('请先勾选数据')
        return
      }
      this.showDialog = true
    },
    //添加信息更新
    update() {
      this.list.push(this.form);
      this.mydata.push(this.form)
      this.dialogFormVisible = false;
    },

    addLine() { //添加行数
      this.form = {
        number: '',
        port: '',
        links: '',
        path: '',
        ratio: ''
      };
      //添加新的行数
      this.dialogFormVisible = true;
    },
    handleEdit(index) {
      // 将数据的index传递过来用于实现数据的回显
      this.form = this.list[index];
      this.currentIndex = index;
      // 设置对话框的可见
      this.dialogFormVisible = true;
    },

    handleDelete(index) {
      // 设置类似于console类型的功能
      this.$confirm("永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
              .then(() => {
                // 移除对应索引位置的数据，可以对row进行设置向后台请求删除数据
                this.list.splice(index, 1);
                this.$message({
                  type: "success",
                  message: "删除成功!"
                });
              })
              .catch(() => {
                this.$message({
                  type: "info",
                  message: "已取消删除"
                });
              });
    },

    save() {
      //这部分应该是保存提交你添加的内容

    },
    closeDialog() {
      this.showDialog = false
    },
    cancel() {
      this.dialogFormVisible = false
    }
  }
}
</script>

<style scoped>
.realtime-chart-model .tool-box{display:inline-block;}
</style>
