<template>
  <div class="network-manage-index">
    <el-button class="btn-change" type="primary" @click="show_table = !show_table">切换</el-button>
    <div class="chart-contaniner" v-if="!show_table">
      <topolgyChart/>
      <div class="separator"></div>
      <linkChart/>
    </div>
    <realTimeChart v-else/>
  </div>
</template>

<script>
import topolgyChart from '@/pages/network/topologyChart'
import linkChart from '@/pages/network/linkChart'
import realTimeChart from '@/pages/routing/realTimeChart'
export default {
  name: 'networkManage',
  components: {
    topolgyChart,
    linkChart,
    realTimeChart
  },
  props: {
  },
  data () {
    return {
      show_table: false
    }
  },
  computed: {
  },
  watch: {
  },
  created () {
  },
  methods: {
  }
}
</script>

<style scoped>
.network-manage-index .btn-change{float:right;}
.network-manage-index .separator{width:100%;height:1px;background-color:#333;margin:20px 0;}
</style>
