<template>
  <div class="panel-heading" style = "text-align: center">
    链路实时可用带宽
  </div>
  <div id="bandwith" style="width: 100%; height: 1000px;"></div>
</template>

<script>
export default {
  name: 'link-chart',
  components: {
  },
  props: {
  },
  data () {
    return {
      bwdata:[]
    }
  },
  created () {
  },
  methods: {
    async getdata() {
      await this.$http.get('/data/new_bw.json')
              .then(res => {
                this.bwdata = res.data.data
              })
    },
  },

  async mounted() {

    await this.getdata()
    console.log('bwdata',this.bwdata)

    var mychart = this.$echarts.init(document.getElementById("bandwith"));
    var labelOption = {
      show: true,
    };

    mychart.setOption({

      labelOption:labelOption,
      dataset: this.bwdata,
      grid: {containLabel: true},
      xAxis: {
        name: 'bps',
      },

      /*                       tooltip: {
                                 trigger: 'item',
                                 formatter: function(params) {
                                     var res = params.name+'<br/>';
                                     var myseries = this.series;
                                     console.log(myseries)

                                     return res;
                                 }
                             },*/
      color:['black','black','black','black'],
      legend: {//图例
        data: ['port1','port2','port3','port4'],//与series的name对应
        left: '75%',//图例的位置，可以用像素，可以用百分比，也可以用center，right等
        top: 12.5,//图例的位置
        itemWidth: 10,//图例图标的宽
        itemHeight: 10,//图例图标的高
        textStyle: {
          color: 'black',//值的具体的颜色
        }
      },
      yAxis: {
        type: 'category',
        name: 'Switch:Switch',
        inverse: true,
        //animationDuration: 30,
        //animationDurationUpdate: 30
      },
      visualMap: [{
        orient: 'horizontal',
        left: 'center',
        min: 0,
        max: 0.0001,
        text: ['High Score', 'Low Score'],
        // Map the score column to color
        dimension: 0,
        seriesIndex:0,
        inRange: {
          color: ['#65B581', '#FFCE34', '#FD665F']
        },
        outRange:{
          color:'black'
        }
      },
        {
          orient: 'horizontal',
          left: 'center',
          min: 0,
          max: 0.0001,
          text: ['High Score', 'Low Score'],
          // Map the score column to color
          dimension: 3,
          seriesIndex:1,//series里的数据
          inRange: {
            color: ['#65B581', '#FFCE34', '#FD665F']
          },
          outRange:{
            color:'black'
          }
        },
        {
          orient: 'horizontal',
          left: 'center',
          min: 0,
          max: 0.0001,
          text: ['High Score', 'Low Score'],
          // Map the score column to color
          dimension: 6,
          seriesIndex:2,
          inRange: {
            color: ['#65B581', '#FFCE34', '#FD665F']
          },
          outRange:{
            color:'black'
          }
        },
        {
          orient: 'horizontal',
          left: 'center',
          min: 0,
          max: 0.0001,
          text: ['High Score', 'Low Score'],
          // Map the score column to color
          dimension: 9,
          seriesIndex:3,
          inRange: {
            color: ['#65B581', '#FFCE34', '#FD665F']
          },
          outRange:{
            color:'black'
          }
        }
      ],


      label: {
        show: true, //开启显示
        position: 'right', //在右侧显示
        textStyle: { //数值样式
          color: 'black',
          fontSize: 16,
          fontWeight: 600
        }
      },
      dataZoom: [//滑动按钮
        {
          type: 'slider',
          show: true,
          xAxisIndex: [0],
          top: '90%'
        },
        {
          type: 'slider',
          show: true,
          yAxisIndex: [0],
          start:80,//设置滑动窗口初始比例
          left: '95%'
        }
      ],
      series: [//数据
        {
          name:'port1',
          type: 'bar',
          encode: {//分别与系列中的哪列值作为输入进行绘制
            // Map the "amount" column to X axis.
            x: 'amount1',
            // Map the "product" column to Y axis
            y: 'product',

          }
        },
        {
          name:'port2',
          type: 'bar',
          encode: {
            // Map the "amount" column to X axis.
            x: 'amount2',
            // Map the "product" column to Y axis
            y: 'product',

          }
        },
        {
          name:'port3',
          type: 'bar',
          encode: {
            // Map the "amount" column to X axis.
            x: 'amount3',
            // Map the "product" column to Y axis
            y: 'product',
          }
        },
        {
          name:'port4',
          type: 'bar',
          encode: {
            // Map the "amount" column to X axis.
            x: 'amount4',
            // Map the "product" column to Y axis
            y: 'product',
          }
        }

      ]

    });
  }
}
</script>

<style scoped>
</style>
