<template>
  <div class="panel-heading" style="text-align:center">
    网络实时拓扑图
  </div>
  <div class="" id="chart"></div>
</template>

<script>
  export default {
    data(){
      return {
        graph:[],
        nodes:[],
        links:[],
        categories:[],
      }
    },

    created(){
    },

    methods:{
        async getdata() {
            await this.$http.get('/data/topodata.json')
                .then(res => {
                    this.graph = res.data
                })
        },
    },

    async mounted() {

        await this.getdata()
        console.log('graph', this.graph)
        // 基于准备好的dom，初始化echarts实例
        var chartData = this.$echarts.init(document.getElementById("chart"));
        // 绘制图表
        //chartData.showLoading();
        chartData.setOption({
            // title: {
            //     text: 'Les Miserables',
            //     subtext: 'Circular layout',
            //     top: 'bottom',
            //     left: 'right'
            // },
            tooltip: {},
            legend: [{
                data: []
            }],
            animationDurationUpdate: 1500,
            animationEasingUpdate: 'quinticInOut',
            series: [
                {
                    name: 'Les Miserables',
                    type: 'graph',
                    circular: {
                        rotateLabel: true
                    },
                    data: [],
                    links: [],
                    categories: [],
                    roam: true,
                    label: {
                        position: 'right',
                        formatter: '{b}'
                    },
                    lineStyle: {
                        color: 'source',
                        curveness: 0.1
                    }
                }
            ]
        });
        var itemStyle = {
            opacity: 1,
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowOffsetY: 0,
            shadowColor: 'rgba(0,0,0,0.3)',
        };

//节点数据
        for (var i=0;i<this.graph.nodes.length;i++ ) {
            var value=[]
            value = {
                x: this.graph.nodes[i].x,
                y: this.graph.nodes[i].y,
                name: this.graph.nodes[i].name,
                value: this.graph.nodes[i].value,
                category:this.graph.nodes[i].category,
                symbolSize: this.graph.nodes[i].symbolSize,
                id: this.graph.nodes[i].id,
              //  symbol:this.graph.nodes[i].symbol
            };
            console.log(value)
            this.nodes.push(value)
        }
//链路数据
            for(var j=0;j<this.graph.links.length;j++){

                var value1=[]
                value1= {
                    source:this.graph.links[j].source,
                    target:this.graph.links[j].target,
                    sourceport:this.graph.links[j].sourceport,
                    targetport:this.graph.links[j].targetport

                };
            console.log(value1)
            this.links.push(value1)
            }

//模拟节点x,y坐标，后续可换为地理坐标系
            for (var m = 0;m<this.nodes.length;++m){
                if (this.nodes[m].category===0){
                    this.nodes[m].x=0;
                    this.nodes[m].y=0;
                } else if(this.nodes[m].category>=1&&this.nodes[m].category<=5){
                    this.nodes[m].x=this.nodes[m].category+m;
                    this.nodes[m].y=this.nodes[m].category+m;
                } else if(this.nodes[m].category>=6){
                    this.nodes[m].x=this.nodes[m].category+m;
                    this.nodes[m].y=this.nodes[m].category+m;
                }

            }

        for (var n=0;n<this.graph.categories.length;n++)
        {
            var value2
            value2=this.graph.categories[n].name
            this.categories.push(value2)
        }

        for(var p=0;p<this.nodes.length;p++)
        {
            this.nodes[p].label={
                show:this.nodes[p].symbolSize >= 10
            }
        }



            chartData.setOption({
                // title: {
                //     text: 'Les Miserables',
                //     subtext: 'Circular layout',
                //     top: 'bottom',
                //     left: 'right'
                // },
                color: ['#EE6A50', '#4F94CD', '#B3EE3A', '#DAA520', '#DA41CE'],
                tooltip: {},
                legend: [{
                    data: this.categories
                    }
                ],
                animationDurationUpdate: 1500,
                animationEasingUpdate: 'quinticInOut',
                series: [
                    {
                        name: 'IPV4-Address',
                        type: 'graph',
                        layout:'force',
                        zoom:0.05,//缩放比例
                        data: this.nodes,//关系图节点
                        itemStyle: itemStyle,
                        links: this.links,//关系图连接
                        categories: this.graph.categories,//图分类
                        draggable:true,
                        roam: true,
                        label: {
                            //show: true,
                            position: 'right',
                            formatter: '{b}'
                        },
                        circular: {
                            rotateLabel: true
                        },
                          labelLayout: {
                              hideOverlap: true
                          },
                          scaleLimit: {
                              min: 0.005,
                              max: 10
                          },
                        lineStyle: {
                            color: 'source',
                            curveness: 0
                        },
                        force : { //力引导图基本配置
                            initLayout:'circular' ,//力引导的初始化布局，默认使用xy轴的标点
                            repulsion : 200,//节点之间的斥力因子。支持数组表达斥力范围，值越大斥力越大。
                            gravity : 0.01,//节点受到的向中心的引力因子。该值越大节点越往中心点靠拢。
                            edgeLength :[100,200],//边的两个节点之间的距离，这个距离也会受 repulsion。[10, 50] 。值越小则长度越长
                            layoutAnimation : true
                            //因为力引导布局会在多次迭代后才会稳定，这个参数决定是否显示布局的迭代动画，在浏览器端节点数据较多（>100）的时候不建议关闭，布局过程会造成浏览器假死。
                        },

                        emphasis: {
                            focus: 'adjacency',
                            lineStyle: {
                                width: 10
                            }
                        }
                    }
                ]
            });

    }
  }
</script>

<style  scoped>
#chart{height:1000px;width:100%;}
</style>
