<template>
  <div class="container">
    <el-container>
      <el-header>
        <div class="header-title">
          <span class="title-text">管理界面</span>
        </div>
      </el-header>
      <el-main>
        <router-view></router-view>
      </el-main>
    </el-container>
  </div>
</template>

<script>
export default {
  name: 'container',
  components: {
  },
  props: {
  },
  data () {
    return {
    }
  },
  computed: {
  },
  watch: {
  },
  created () {
  },
  methods: {
    handleOpen () {
    },
    handleClose () {}
  }
}
</script>

<style scoped>
.el-header{padding:0 !important;background-color:#4a4a4a;}
.header-title{line-height:60px;text-align:center;color:#fff;font-size:24px;font-weight:700;padding:0 15px;}
</style>
